.recipeCard {
  width: 50%;
  margin: 0 auto;
}
.backSection {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.backSection__back-btn {
  height: 27px;
  width: 27px;
}
.back-btn__arrow-img {
  transform: rotate(180deg);
}
.recipeCard__food-title, .ingredientSection__ingredientTitle {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 20px 20px;
  color: #000000;
}

.recipeCard__food-title {
    padding: 20px 20px;
    margin: 150px 30px 0px 30px;
}

.ingredientSection__ingredientTitle {
  padding: 10px 20px;
}

.recipeCard {
  width: 400px;
}

.recipeCard__food-title {
  background-color: $secondary-color;
  opacity: 0.85;
}

.ingredientList__ingredientItem {
  font-family: 'Old Standard TT', serif;
  padding: 10px 20px;
  color: $text-color;
}

.ingredientSection {
  background-color: rgba(255,255,255,1);
  margin: 0 30px;
}

.ingredientList {
  margin-top: 0;
}
