.recipeCard__like-btn {
  position: relative;
  bottom: 10px;
  right: -59%;
  width: 35%;
}

@media (max-width: 480px) {
  .recipeCard {
    width: 300px;
  }
  .recipeCard__newRecipe-btn {
      right: -5px; 
  }
  .recipeCard__like-btn {
      right: -60%;
  }
}