.recipeCard {
  width: 500px;
  margin: 5% auto;
  // margin-top: 5%;
  padding-bottom: 5%;
}
.backSection {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.backSection__back-btn {
  height: 40px;
  width: 45px;
  position: relative;
  top: 40%;
  left: 5%;
  padding-bottom: 35px;
  float: left;
}
.backSection__list_btn {
  float: right;
  position: relative;
  top: 51%;
  right: 9%;
}
.recipeCard__newRecipe-btn {
  position: relative;
  top: 26px;
  right: -5%;
  width: 35%;
}
.back-btn__arrow-img {
  transform: rotate(180deg);
}
.recipeCard__food-title, .ingredientSection__ingredientTitle {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 20px 20px;
  color: #000000;
}

.recipeCard__food-title {
    padding: 10px 20px;
    margin: 125px 40px 0px 40px;
}

.ingredientSection__ingredientTitle {
  padding: 10px 20px;
  letter-spacing: 1px;
}

.recipeCard__food-title {
  background: rgba(167, 219, 216, 0.8);
  letter-spacing: 1px;
}

.ingredientList__ingredientItem {
  font-family: 'Old Standard TT', serif;
  padding: 10px 20px;
  color: $text-color;
}

.ingredientSection {
  background-color: rgba(255,255,255,1);
  margin: 0 40px;
}

.ingredientList {
  margin-top: 0;
  padding: 0 0 0 15px;
}
.ingredientList li {
  margin-bottom: 10px;
}


#scrollarea-content{
    min-height:101%;
}

@media (max-width: 768px) {
  .recipeCard {
    width: 400px;
    margin-top: 200px;
    padding: 2em 0;

  }
  .recipeCard__food-title {
    padding: 10px 20px;
    margin: 60px 40px 0px 40px;
  }
  .ingredientSection {
    height: 200px;
    overflow-y: scroll;
  }
  .recipeCard__newRecipe-btn, .recipeCard__like-btn {
    display: none;
  }
  .backSection__back-btn {
    height: 38px;
    width: 40px;
    top: 51%;
    left: 9%;
    padding: 0;
  }
  .back-btn__arrow-img svg {
    height: 13px;
    width: 15px;
  }
  .recipeCard__food-title {
    font-size: 21px;
  }
}

@media (max-width: 480px) {
  .recipeCard {
    width: 275px;
    margin-top: 150px;
  }
  .recipeCard__newRecipe-btn {
    right: -5px;
  }
  .backSection__list_btn {
    right: 5%;
  }
}
