.swipe-left {
    -webkit-animation: swipe-left 1s forwards;
            animation: swipe-left 1s forwards;
}

.swipe-right {
    -webkit-animation: swipe-right 1s forwards;
            animation: swipe-right 1s forwards;
}

@-webkit-keyframes swipe-left {
    to {
        -webkit-transform: rotate(-13deg) translate3d(-100%, 0, 0);
                transform: rotate(-13deg) translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes swipe-left {
    to {
        -webkit-transform: rotate(-13deg) translate3d(-100%, 0, 0);
                transform: rotate(-13deg) translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes swipe-right {
    to {
        -webkit-transform: rotate(13deg) translate3d(100%, 0, 0);
                transform: rotate(13deg) translate3d(100%, 0, 0);
        opacity: 0;
    }
}

@keyframes swipe-right {
    to {
        -webkit-transform: rotate(13deg) translate3d(100%, 0, 0);
                transform: rotate(13deg) translate3d(100%, 0, 0);
        opacity: 0;
    }
}
