.grid {
	width: 80%;
	margin: 0 auto;
	position: relative;
	.grid-item {
		width: 30%;
		float: left;
		height: 300px;
		margin: 1.5%;
		padding: 0.5% 1% 3%;
	}
	h1 {
		text-align: center;
		display: inline;
	}
	h3 {
		color: white;
		background-color: $primary-color;
		width: 54%;
		min-width: 200px;
		margin-bottom: 0;
		padding: 2%;
		letter-spacing: 1px;

	}
	h4 {
		color: $text-color;
		margin: 0;
		display: inline;
		padding: 1%;
		background: white;
	}
	p {
		color: white;
		font-family: $font-family-text;
		padding: 1%;
		width: 40%;
		min-width: 150px;
		background: rgba(0, 0, 0, 0.8);
		margin-bottom: 15px;
	}
	i {
		padding: 0 2%;
	}
	.savedCardSml__time {
		font-size: 18px;
		border-radius: 20px;
		border: 1px solid white;
		letter-spacing: 1px;
		i {
			padding: 0 5%;
			font-size: 22px;
		}
	}
	.savedCardSml__rating {
		margin: 0;
		color: $primary-color;
		background: rgba(0, 0, 0, 0.8);
		display: inline;
		border-radius: 20px;
		padding: 1.5% 0;
	}
	button {
		border: 1px solid $text-color;
		box-shadow: 3px 3px 3px black;
		display: block;
		margin-top: 20px;
		padding: 2%;
		background: rgba(255, 255, 255, 1);
		letter-spacing: 0.5px;
		color: $text-color;
		transition: all 0.5s;
		&:hover {
			color: black;
			box-shadow: 3px 3px 3px black;
			text-decoration: underline;
		}
	}
}
.savedCollection {
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 5px solid $primary-color;
	font-family: $font-family-text;
	letter-spacing: 1px;
	color: black;
    display: inline-block;
    width: 450px;
    padding-bottom: 10px;

}
.backHome-btn {
	padding-bottom: 500px;
}
.button {
	button {
		width: 150px;
		margin: 10px auto;
		border: 3px solid black;
		box-shadow: 3px 3px 3px black;
		display: block;
		padding: 0.8%;
		background: rgba(255, 255, 255, 1);
		letter-spacing: 0.5px;
		color: $primary-color;
		transition: all 0.5s;
		font-family: $font-family-text;
		font-size: 20px;
		letter-spacing: 1px;
		// text-transform: uppercase;
		&:hover {
			color: black;
			box-shadow: 3px 3px 3px black;
		}
	}
}

@media (max-width: 975px) {
	.grid .grid-item {
		width: 45%;
	}
}
@media (max-width: 675px) {
	.grid .grid-item {
		width: 70%;
		margin-left: 10%;
	}
}
@media (max-width: 450px) {
	.grid .grid-item {
		width: 90%;
		margin: 0 0 8% 0;
	}
}
@media (max-width: 400px) {
	.grid .grid-item {
		width: 95%;
		margin-left: 3%;
		padding: 0.75em;
	}
}
